<div class="container">

  <%= render "form_new_list" %>

    <div class="back-plus-new">
    <%= link_to lists_path do %>
            <button class="btn btn-warning my-3">Back to lists !</button>
    <% end %>
  </div>
</div>
